In [1]:
import pandas as pd

# Duplicates

- .duplicated() 

  - Detect which rows are duplicated 
  - Remove the duplicated rows by reverse slicing([~...])

In [17]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [18]:
''' By default, it detects all columns '''
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [19]:
''' Specify which column(s) to detect '''
df.duplicated(subset=['style'])

0    False
1     True
2     True
3    False
4     True
dtype: bool

In [20]:
df_nondup = df[~df.duplicated(keep='first')]
df_nondup

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

- .drop_duplicates()

In [21]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [22]:
''' By default, it detects all columns '''
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [25]:
df.drop_duplicates(subset=['brand'], keep='first')

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5